services:
  g4f:
    image: hlohaus789/g4f:latest
    container_name: g4f_service
    shm_size: 2g
    networks:
      - router_net

  router:
    container_name: n8n_g4f_router
    build: .
    ports:
      - "3000:3000"
    env_file: .env
    environment:
      - G4F_UPSTREAM_URL=http://g4f:8080
      - ROUTER_PORT=3000
      - HEALTH_CHECK_INTERVAL_MS=300000
    depends_on:
      - g4f
    networks:
      - router_net

networks:
  router_net:
    driver: bridge